.custom-object-position {
  object-position: 20% 29%;
}
.custom-object-scale{
  transform: scale(1);
}
@media (min-width: 1024px){
  .lg-bg-container {
  border-radius: 10%;
  overflow: hidden; /* Hide the content that overflows the oval shape */
 padding-left: 100px;
 padding-right: 100px;
}
}

.Bg-container img {
  padding: 8px; /* Adjust the padding as needed */
}
.txt-height-lg{
  font-size: 4rem;
}
.image-shadow {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur, color */
}
.text-right{
  text-align: right;
}
